* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SF Pro Text', 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 8px;
}

window#waybar {
		background-color: rgba(33, 31, 31, 0.98);
    /* background-color: rgba(16, 14, 12, 1); */
	  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    /* border-radius: 18px; */
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

tooltip {
     border-radius: 4px;
     background-color: #23201F;
}


/* tooltip { */
/* background-color: transparent; */
/* border: none; */
/* } */
/**/
/* tooltip label { */
/* background-color: #color; */
/* color: #color; */
/* border-radius: ##px; */
/* border: style ##px #color; */
/* margin: ##px; */
/* } */


#custom-power {
    /* background-color: #3C494F; */
	  /* background-color: rgba(121, 78, 38, 0.8); */
    color: #d4babb;
		margin-bottom: 0px;
		/* margin-top: 4px; */
		/* margin-top: 38px; */
    padding-bottom: 1px;
    margin-right: 20px;
}

#custom-power:hover {
    background-color: #7E7D73;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #7E7D73;
}

#workspaces {
    /* background-color: #323d49; */
		/* margin-bottom: 4px; */
    padding: 0 0 0 0;
		/* margin-top: 4px; */
		/* margin-top: 18px; */
}

#workspaces button {
    border-radius: 6px;
    transition: 0.2s ease-in-out;
    /* padding: 0 5px 0 5px; */
    background-color: transparent;
    color: #6cbde9;
    /* color: rgba(108, 189, 233, 1); */
		/* margin-bottom: 4px; */
		/* margin-top: 4px; */


    padding: 0 5px;
    background-color: transparent;
    color: #6cbde9;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: #6cbde9;
    color: #323d49;
    padding: 0 10px 0 10px;
}
#workspaces button.empty {
    color: #e8eaed;
}
#workspaces button.empty.active {
    background-color: #6cbde9;
    color: #323d49;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    /* margin: 0 3px; */
		/* margin-bottom: 4px; */
		/* margin-top: 4px; */
		/* margin-top: 10px; */
}

#window,
#workspaces {
		/* border: 1px solid #000; */
  /*   margin: 0 10px; */
		/* margin-bottom: -5px; */
		/* margin-top: 4px; */
		/* margin-top: 30px; */
	  /* background-color: rgba(121, 78, 38, 0.8); */

    margin: 0px 10px 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 20px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #64727D; */
	  /* background-color: rgba(121, 78, 38, 0.8); */
		margin-bottom: 0px;
		/* margin-top: 4px; */
		/* margin-top: 38px; */
}

#battery {
    /* background-color: #3C494F; */
	  /* background-color: rgba(121, 78, 38, 0.8); */
    color: #ffffff;
		margin-bottom: 0px;
		/* margin-top: 4px; */
		/* margin-top: 38px; */
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
	/* background-color: #3C494F; */
	/* background-color: rgba(121, 78, 38, 0.8); */
	margin-bottom: 0px;
	/* margin-top: 4px; */
	/* margin-top: 38px; */
}

#network {
	/* background-color: #3C494F; */
	/* background-color: rgba(121, 78, 38, 0.8); */
	margin-bottom: 0px;
	/* margin-top: 4px; */
	/* margin-top: 38px; */
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	/* background-color: rgba(121, 78, 38, 0.8); */
	/* background-color: #3C494F; */
	color: #ffffff;
	margin-bottom: 0px;
	/* margin-top: 4px; */
	/* margin-top: 38px; */
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}

#wireplumber.muted {
	background-color: #f53c3c;
}

#custom-next-media {
	margin-left: 8px;
}

#custom-prev-media {
	margin-left: 20px;
		margin-right: 2px;
}

#custom-media {
	/* background-color: #3C494F  #66cc99 ; */
	/* background-color: rgba(121, 78, 38, 0.8); */
	color: #ffffff;
	min-width: 100px;
	/* padding-top: 3px; */
	margin-bottom: 0px;
	/* margin-top: 4px; */
	/* margin-top: 38px; */
}

#mode {
	/* background-color: #64727D; */
	background-color: rgba(121, 78, 38, 0.8);
	box-shadow: inset 0 -3px #ffffff;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #323d49;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}


#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
